body {
	background-color: #FFF;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.container {
	width: 94%;
	margin: 0 auto;
	max-width: 100%;
}

p {
	color: #212529;
	opacity: 0.7;
	line-height: 1.5;
	font-size: 1.25rem;
}

h1 {
	color: #FFF;
}

h2 {
	font-weight: bold;
	font-size: 3ch;
}

h3 {
	font-weight: bold;
	font-size: 2ch;
}

.cabecalhoPrincipal {
	padding: 243px 0;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.cabecalhoPrincipal-titulo {
	font-weight: bold;
	font-size: 3rem;
	margin-bottom: 20px;
	line-height: 1.1;
	text-align: center;
}

.conteudoPrincipal {
	margin: 94%;
	display: flex;
	justify-content: space-around;
	margin: 98px 98px;
	padding: 35px 0px 35px 0px;
	text-align: center;
}

.conteudoPrincipal img {
	padding-bottom: 20px;
}

.conteudoPrincipal p {
	width: 350px;
}

.conteudoExplicacao {
	display: flex;
	flex-wrap: wrap; 
}

.conteudoExplicacao div {
	display: flex;
}

.conteudoExplicacao li img {
	width: 100%;
}

.conteudoExplicacao li {
	width: 50%;
}

.conteudoExplicacao-texto {
	background: #F2F5F7;
	padding: 20% 0 20% 0;
	text-align: center;
}

.conteudoExplicacao-texto p {
	text-align: center;
}

.conteudoVideo {
	display: flex;
	text-align: center;
	padding: 5% 10% 5% 10%;
	flex-grow: 2;
}

.conteudoVideo h2{
	padding-bottom: 5%;
}

.conteudoPessoas {
	background: #F2F5F7;
	text-align: center;
	padding-bottom: 10%;
}

.conteudoPessoas-titulo {
	padding: 5% 0 2% 0;
	text-align: center;
	font-size: 3ch;
}

.conteudoPessoas-img {
	border-radius: 50%;
	width: 200px;
}

.conteudoPessoas-txt {
	font-size: 1rem;
	padding-top: 5px;
}

.conteudoPessoas-people {
	display: flex;
	justify-content: space-around;
	padding-bottom: 15px;
}

.conteudoForm {
	padding: 9% 0;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
}

.conteudoForm-titulo {
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 20px;
	line-height: 1.1;
	text-align: center;
	color: #FFF;
}

.conteudoForm-campo {
	border: none;
	border-radius: 4px;
	background-color: #FFF;
	box-sizing: border-box;
	padding: 12px;
	margin: 2px;
}

.conteudoForm-botao {
	border-radius: 4px;
	padding: 12px;
	text-align: center;
  font-size: 16px;
	transition: 0.3s;
	border: none;
	background-color: #66b3ff;
	color: #FFF;
	margin: 2px;
}

.conteudoForm-botao:hover {
	background-color: #3e8e41;
}

.conteudoForm-form {
	display: flex;
	flex-direction: column;
	margin-right: 25%;
	margin-left: 25%;
}

.conteudoCabecalho {
	padding: 2% 0 1% 0;
	background: #F2F5F7;
	text-align: center;
	color: #212529;
	opacity: 0.7;
	font-size: 0.75rem;
}

.conteudoVideo-video {
	max-width: 100%;
}

@media(max-width: 768px) {
	.conteudoPrincipal {
		flex-direction: column; 
	}

	.cabecalhoPrincipal-titulo {
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 0;
	}

	.conteudoPessoas-people {
		flex-direction: column;
	}

	.conteudoPrincipal p {
		width: 100%;
	}

	.conteudoExplicacao-bloco-2 {
		display: flex;
		flex-direction: column;
	}

	.conteudoExplicacao-bloco-1 {
		display: flex;
		flex-direction: column-reverse;
	}

	.conteudoExplicacao li {
		width: 100%;
	}

	.conteudoForm-form {
		margin: 0;
		width: 100%;
	}

	.conteudoVideo {
		padding-right: 20px;
		padding-left: 20px;
	}

	.conteudoVideo .container{
		margin: 0;
	}

	.conteudoVideo-video {
		height: 286px;
	}

}